body {
    background-color: powderblue;
    position: relative;
    min-height: 98.3vh;
    width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
}
h1 {
    color:MediumSeaGreen;
    font-size: 2.5em;
    margin: 0px;
    padding:0px;
  }
#header{
  text-align: center;  
  color:powderblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

#bottom p {
    color: MediumSeaGreen;
    text-align: right; 
    text-decoration: none;
    font-size: 1em;
    padding: 9px;
    margin: 0px;
    background-color: #333333;
    border-radius:10px 10px 0px 0px;    
}
a:link {
    color: MediumSeaGreen;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: MediumSeaGreen;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: MediumSeaGreen;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #55A655;
    background-color: transparent;
    text-decoration: underline;
}

div.top_menu {
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0,0,0,.2);
    background-color: #333333;
    border-radius:0px 0px 10px 10px;
}

div.left_top {    
    width: 40%;
    float: left;
    overflow: hidden;
}

div.center_top {    
    width: 20%;
    float: left;
    overflow: hidden;
}

div.right_top {      
    width: auto;
    float:right;
    overflow: hidden;
}

#mango_im{
    padding-bottom:8px;
    padding-right:5px;
    padding-top:15px;
}
.top_menu ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.top_menu li {
    float: left;    
}

.right_top p {
    color: MediumSeaGreen;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0;
    padding: 16px;
    
}
li a {
    display: block;
    text-align: center;
    padding: 16px 7px;
    text-decoration: none;
    font-size: 1.2em;
}

#button_start{
    display: block;
    text-align: center;
    padding: 16px 7px;
    font-size: 1.2em;
    background: #333333;
    margin-left: 80px;
    margin-right: 80px;
    color: MediumSeaGreen;
    border-radius:10px; 
    box-shadow: 0px 7px 7px rgba(0,0,0,.2);
}

li a:hover {
    background-color: #111111;
}

.menu {
    float:left;
    width:20%;
    height:100%;
    text-align:center;
    margin: 0px;
    overflow: auto;
}
 .menu a{
     display:block;
     background-color: #333333;     
     font-size:1.2em;
     margin-left: 0;
     margin-right: 2vh;
     padding:2vh;
     margin-top: 20px;
     border-radius:10px; 
     box-shadow: 0px 7px 7px rgba(0,0,0,.2);
 }

.menu a:hover {
    background-color: #111111;
}
 .article {
     margin-top: 10px;
     margin-bottom: 10px;
     overflow: hidden;
     float: none;
     text-align: center;
     background: #CFEEF2;
     min-height: 88.6vh;
     border-radius:10px; 
     box-shadow: 0px 0px 20px rgba(0,0,0,.2);
 

 /*  border-left:  1px solid #A3A3A3;
     
   border-bottom: 1px solid #333333;*/
 }
 .article h1{
     color:MediumSeaGreen;
     font-size:40px;
     overflow: hidden;
     padding:20px;
     margin:30px;
     border-bottom: 2px solid #C1C1C1; 
     
     /* border: 2px solid grey;
      margin:30px;
      padding:20px;*/
}
#header_in_users{
    font-size: 3vh;
}
.article p{
    color: #005900;
    overflow: hidden;
    /* border: 2px solid grey;*/

     font-size:1,5vh;     
     margin:5px;
     padding:5px;
}
#user_bio{
    margin:30px;
    padding:20px;
}
.article h3{
    color: #005900;
    overflow: hidden;
    /* border: 2px solid grey;
     margin:30px;
     padding:20px;*/     
     margin:10px;
     margin-bottom: 0;
     padding:20px;
}
.article a{
    display: initial;
    list-style-type: none;
    margin: 10px;
    padding:10px;
    color:darkgreen;
}
.article ul{
   list-style-type: none;
    margin: 5px;
    padding:5px;
}

.article a:hover{
    background-color: transparent;
    text-decoration: underline;    
}

.article hr { 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5vh;
    margin-right: 5vh;
    border-style: inset;
    border-width: 2px;
    border-color: #333333;
} 
#table_users td{    
    margin: 5px;
    padding: 10px;
    
  /*  border-right: 2px solid #F4F1F1;*/
}

#table_users{
    
    font-size:2vh;
    float: center;
    text-align: center;
    width:800px;
    border-spacing: 5px;
    border-collapse: collapse;
    overflow: auto;
    border-radius: 10px;
}
img{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    filter: grayscale(.5);
}
#table_users th:first-child{
    border-radius:10px 0px 0px 0px;  
}
#table_users th:last-child{
    border-radius:0px 10px 0px 0px;  
}

#table_users th{
    margin: 5px;
    padding: 10px;
    color:white;
    background: #333333;
}

.user_img {
    width: 40%;
    float: left;
}
.user_inf{
    float: center;
    overflow: hidden;
    width: auto;
    min-width: 30vh;
    background: #EBFCFF;
    border-radius:10px;      
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}
.user_inf table{
    margin: 0 auto;
    padding: 10px;
    
}
.user_inf th,td{
    color:darkgreen;
    font-size:2vh;
    margin: 10px;
    padding: 10px;
}
.user_inf h1{
    padding: 10px;
    margin: 0;
    font-size: 1.5em;
    border-bottom-style: dashed;
}
#table_users tr:nth-child(2n+1){
    background: #ffffff;
}

#table_users tr:nth-child(2n){
    background: #f5f5f5;
}

.test{
    float: center;
    overflow: hidden;
    width: auto;
    min-height: 67vh;
    background: #EBFCFF;
    border-radius:10px;      
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    text-align: center;
    margin: 50px 100px;
}

#nextPrev{
    margin: 40px;
    padding: 15px;
}
#nextPrev a{
    background: #333333;
    color:white;
    border-radius:10px;      
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

.about{
    float: center;
    overflow: hidden;
    width: auto;
    min-height: 20vh;
    background: #EBFCFF;
    border-radius:10px;      
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    text-align: center;
    margin: 50px 100px;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

/*
For changing different sizes of picture on the screen

<picture>
  <source media="(min-width: 650px)" srcset="img_pink_flowers.jpg">
  <source media="(min-width: 465px)" srcset="img_white_flower.jpg">
  <img src="img_orange_flowers.jpg" alt="Flowers" style="width:auto;">
</picture>

For image map

<img src="workplace.jpg" alt="Workplace" usemap="#workmap">

<map name="workmap">
  <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
  <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
  <area shape="circle" coords="337,300,44" alt="Coffee" href="coffee.htm">
</map>

*/